.DS_Store
data-loader/entities/__pycache__
deploy-jobs/.idea/
deploy-jobs/target/maven-archiver/
model-training/.ipynb_checkpoints
.vscode
data-loader/data/transaction-stream-full.csv
deploy-jobs/target/maven-status
deploy-jobs/target/maven-status/